.App {
  background-color: #11153d;
  width: calc(100vw - min(5vw, 100px) * 2);
  height: calc(100vh - min(5vw, 100px) * 2);
  padding: min(5vw, 100px);
}

.Player {
  position: absolute;
  bottom: min(5vw, 100px);
  width: calc(100vw - min(5vw, 100px) * 2);
}

.Page {
  text-align: center;
  padding: 1.04em;
}

.Visualizer {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}
